body{
    margin: 0;
    padding: 0;
    padding-bottom: 20PX;
}

header{
    background: url(https://picsum.photos/1500/700); 
    
}
@media(max-width:700px){
    header .f {
       flex-direction: column;
       
    }
    a{
       display: flex;
       flex-direction: column;
    }        
   
}

.f{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    padding: 0 20px;
    color: #F4F4F4;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #F4F4F4;
    padding: 10px;
}
a:hover{
    cursor: pointer;
    color: #FFFFFF;
  
}
.baker{
    color: #ffcc00;
}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    color: white;
}
.content h3, .content h1{
    word-spacing: 5px;
}
button{
    height: 30px;
    width: 120px;
    background-color:#ffcc00;
    color: white;
    border:1px solid #ffcc00;
    outline: none;
    border-radius: 30px;
    text-align: center;
    margin:10px;
    
}
.btn{
    background-color: transparent;
    border: 2px solid #ffcc00;
}
button:hover{
    cursor: pointer;
    background-color: #806703;
}
}

a{
    text-decoration: none;
    color: #ffffff; 
    padding: 10px;
}
.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    text-align: center;
    color: #ffffff;
}
.button button{ 
    border-radius: 15px;
    color: #ffffff;
    border:1px solid #ffcc00;
    height:25px;
    font-size: 10px;
    background-color:rgb(255, 255, 255 , 0)	
}
.mid-content{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.block{
    text-align: center;
    flex-basis: 300px;
}
.block h3{
    color: grey;
}
.block p{
    color: rgb(175, 174, 174);
}

.down-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 214, 214);
    text-align: center;
}
h2{
    color: grey;
}
.text-down p{
    color: rgb(175, 174, 174);
}
.last-content{
    display: flex;
    background-color: rgb(218, 214, 214);
    justify-content: space-around;
    flex-wrap: wrap;
}

.text-block{
    flex-basis: 300px;
    text-align: center;

}
.spn{
    display: inline;
    font-size: 55px;
}
.text-block p{
    color: rgb(175, 174, 174);


}
